.cost0{
        width: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(128, 128, 128)
}

.cost1{
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(82, 175, 139)
}
.cost2{
        width: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(61, 120, 193)
}

.cost4{
        width: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(181, 74, 211)
}

.cost6 {
    width: 40px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    height: 40px;
    border: 5px solid rgb(245, 188, 86)
}