nav {
    height: 100%;
    max-height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgb(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 0px 20px;
    font-size: 20px;
    color: #cac7ff;
}

.search-bar button {
    background: transparent;
    outline: none;
    border: none;
    color: #cac7ff;
    cursor: pointer;
    padding: 24px 20px;
}

.Links > a{
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.Links > button {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
}