@import "./styles/nav.scss";
@import "./styles/userinfo.scss";
@import "./styles/costs.scss";
@import "./styles/table.scss";
@import "./styles/unitsPlayed.scss";

body {
    background-color: rgb(26, 36, 116);
    background: linear-gradient(to right, rgb(52, 6, 60), rgb(23, 31, 106));
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    background-color: adjust-hue($color: #26044f, $degrees: 0);
    color: white;
}

canvas {
    max-width: 375px;
    max-height: 375px;
}

.jw-modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, .75);
    padding: 50px;
    overflow: auto;
    backdrop-filter: blur(8px);
}

.jw-modal.open {
    display: block;
}

.jw-modal-body {
    padding: 50px;
    height: 300px;
    background: #26044f;
    max-height: fit-content;
    border-radius: 30px;
    max-width: 700px;
    margin-left: 400px;
}

.jw-modal-body > h1{
    text-align: center;
    text-decoration: underline;
}

body.jw-modal-open {
    overflow: hidden;
}

.modal-button{
    margin-top: 20px;
    background: none !important;
    border: none;
    padding: 0 !important;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-size: large;
}
